<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/signup.css">
</head>
<body>
<div class="background">
    <div class="form-box">
        <div class="toggle-box">
            <button type="button" class="btn round-with-shadow toggle-btn"><a href="login.html">Sign in</a></button>
            <button type="button" class="btn round-with-shadow toggle-btn"><a href="signup.html">Sign up</a></button>
        </div>
        <form class="input-group">
            <input type="text" class="round-with-shadow input-field" placeholder="Name" required>
            <input type="text" class="round-with-shadow input-field" placeholder="Surname" required>
            <input type="text" class="round-with-shadow input-field" placeholder="Mail" required>
            <input type="text" class="round-with-shadow input-field" placeholder="Password" required>
            <input type="text" class="round-with-shadow input-field" placeholder="Repeat password" required>
            <button type="submit" class="btn round-with-shadow submit-btn"><a href="login.html">Register</a></button>
        </form>
    </div>
</div>
</body>
</html>