:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.container {
  width: 90vw;
  height: 82vh;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}


