.wrapper{
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #FFD942;
  opacity: 0.8;
}
.left-part {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  gap: 20px;
}
.right-part{
  display: flex;
  align-items: center;
  gap:20px;
  padding-right: 20px;
}
